@{
    ViewBag.Title = "_OverSeas";
}

<body style="background-color:#56bc90">
    <h2>OverSeas</h2>

    <table border="1">
        <tr>
            <th>ArticleTitle</th>
            <th>SubHeader</th>
            <th>Content</th>
            <th>Image</th>
        </tr>

        @foreach (var article in Model)
        {
            <tr>
                <td>@article.Title</td>
                <td>@article.subHeader</td>
                <td>@article.Content</td>
                <td>@article.imageArticle</td>
                <td>
                    @Html.ActionLink("Display", "View", new { Title = article.Title }, new { @style = "color:blue" })
                    @Html.ActionLink("Edit", "Edit", new { Title = article.Title }, new { @style = "color:blue" })
                    @Html.ActionLink("Delete", "DeleteArticle", new { Title = article.Title }, new { @style = "color:blue" })
                </td>

            </tr>

        }

        <br />
        <h4>@Html.ActionLink("Create a new Article", "Create")</h4>
