@{
    ViewBag.Title = "Articles";
}

<h2>Articles</h2>

<table border="1">
    <tr>
        <th>Title</th>
        <th>Sub-Header</th>
        <th>Content</th>
        <th>Image</th>
        <th>Category ID</th>
        <th>User ID</th>
    </tr>
    
    @foreach (var article in Model)
    {
        <tr>
            <td>@article.Title</td>
            <td>@article.subHeader</td>
            <td>@article.Content</td>
            <td>@article.imageArticle</td>
            <td>@article.categoryId</td>
            <td>@article.UserId</td>
            <td>
                @Html.ActionLink("View", "View", new { Title = article.Title }, new { @style = "color:blue" })
                @Html.ActionLink("Edit", "Edit", new { Title = article.Title }, new { @style = "color:blue" })
                @Html.ActionLink("Delete", "DeleteArticle", new { Title = article.Title }, new { @style = "color:blue"})
            </td>
            
        </tr>

    }

    

        <br />
        <h4>@Html.ActionLink("Create a new Article", "Create")</h4>
    

    
